/* Full screen wrapper to center the card */
.individual-container-wrapper {
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    height: 100vh;           /* Full viewport height */
}

.individual-container {
    position: relative;   /* makes absolute positioning inside possible */
    max-width: 500px;
    width: 500px;
    padding: 30px;
    background-color: #415d43;
    color: #f8edeb;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.individual-container-top {
    margin-bottom: 20px;
}

.adminButton {
    position: absolute;
    top: 15px;     /* adjust for padding */
    right: 15px;   /* adjust for padding */
    height: 2.25em;
    width: 2.25em;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: 2px solid #111d13;
    background-color: #a1cca5;
    padding: 2px;
}

.adminButton:hover {
    cursor: pointer;
    background-color: #709775;
    border: 2px solid #a1cca5;
    transform: translateY(-1px);
}

#trashButton {
    right: 0px;
    left: 15px;
}


.qr-code {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border: 4px solid #415d43;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.editing-names {
    display: flex;
}

.editing-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

#editing-first-name {
    color: white;
}

#editing-last-name {
    color: white;
}

.editing-button {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #111d13;
    color: #8fb996;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.35s ease;
}

.editing-button:hover {
    background-color: #709775;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);   
}

.kilo-access {
    padding: 1em;
    color: white;
}
.kilo-access input {
    margin: 1em;
}