.roster-container {
    padding: 20px;
    border-radius: 5px;
  }
  
  .roster-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .roster-table th, .roster-table td {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
  }
  
  .roster-table th {
    background-color: #111d13;
    color: #f8edeb;
  }
  
  .roster-row {
    background-color: #415d43;
    color: white;
  }

  h2 {
    text-align: center;
    padding: 0.5em;
  }