.ERROR {
    width: 100%;
    min-height: 700px;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.Error-Text {
    margin-top: 4em;
    background-color: #ffb5a7;
    border-radius: 8px;
    border: 1px solid #ffb5a7;
    padding: 0.5em 2em;
}